{
  "openapi": "3.0.0",
  "info": {
    "title": "RepoMaster API",
    "version": "1.0.0",
    "description": "The RepoMaster API allows users to manage repositories.",
    "contact": {
      "name": "Tawonga Grant Kanyenda",
      "email": "tawongakanyenda5@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://tgkcapture.online",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/repositories": {
      "get": {
        "summary": "Retrieve repositories",
        "description": "Retrieves a list of repositories.",
        "operationId": "getRepositories",
        "security": [],
        "responses": {
          "200": {
            "description": "A list of repositories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the repository."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the repository."
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "The URL of the repository."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Repositories not found"
          }
        }
      },
      "post": {
        "summary": "Create a new repository",
        "description": "Creates a new repository.",
        "operationId": "createRepository",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the repository."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the repository."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Repository created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the created repository."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the created repository."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "The URL of the created repository."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/repositories/{repo_name}/issues": {
      "get": {
        "summary": "Get GitHub Repository Issues",
        "description": "Retrieves a list of issues for a specific GitHub repository",
        "parameters": [
          {
            "name": "repo_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The name of the GitHub repository"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Issue"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response"
          }
        }
      }
    },
    "/repositories/{repo_name}/pulls": {
      "get": {
        "summary": "Get GitHub Repository Pull Requests",
        "description": "Retrieves a list of pull requests for a specific GitHub repository",
        "parameters": [
          {
            "name": "repo_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The name of the GitHub repository"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PullRequest"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response"
          }
        }
      }
    },
    "/repositories/{repo_name}": {
      "delete": {
        "summary": "Delete GitHub Repository",
        "description": "Deletes a GitHub repository",
        "parameters": [
          {
            "name": "repo_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The name of the GitHub repository"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Repository deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Repository": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Issue": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "PullRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      }
    }
  }
}

