* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #555;
}
/*Header Styles*/

header {
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 35px 100px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

header h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 32px;
    margin: 0;
}

header nav ul {
    display: flex;
    margin-top: 10px;
    list-style: none;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.3s ease;
}

header nav ul li a:hover {
    opacity: 1;
}

/* Main Content Styles */

section {
    padding-top: 1px; 
    position: relative;
    padding: 45px 20px;
    text-align: center;
    max-height: calc(100vh - 120px);
    overflow-y: auto; 
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.dashboard-options {
    display: flex;
    justify-content: center;
}

.dashboard-option {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-option i {
    font-size: 24px;
    margin-bottom: 10px;
}

.dashboard-option:hover {
    background-color: #ccc;
}

/*Footer Section*/

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 80px;
    text-align: center;
}

footer p {
    margin: 0;
    opacity: 0.6;
    font-size: 14px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.3s ease;
}

footer ul li a:hover {
    opacity: 1;
}
