<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | RepoMaster</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    
</head>
<body>

    <header>
        <h2><a href="#">RepoMaster</a></h2>
        <nav>
            <li><a href="#hero">Home</a></li>
            <li><a href="#services">Services</a></li>
            {% if is_user_logged_in() %}
                <li><a href="{{ url_for('main.show_github_repositories') }}">View Repositories</a></li>
                <li><a href="{{ url_for('main.logout') }}">Log Out</a></li>
                
                <!-- Profile section -->
                <li class="profile-container">
                    <img src="{{ session.get('github_avatar_url') }}" alt="GitHub Profile" class="profile-pic">
                    <span class="profile-username">{{ session.get('github_username') }}</span>
                </li>
            {% else %}
                <li><a href="{{ url_for('main.install_github_app') }}">Login with GitHub</a></li>
            {% endif %}
        </nav>
    </header>
    
    
    <section class="hero" id="hero">
        <div class="background-image"></div>
        <div class="hero-content-area">
        <h1>RepoMaster!</h1>
        <h3>Master Your Repositories with RepoMaster</h3>
        <a href="" class="btn">Get Started</a>
        </div>
    </section>
        
    <section class="services" id="services">
        <h3 class="title">What Our Service Offers</h3>
        <p>RepoMaster offers a comprehensive suite of services designed to streamline your GitHub repository management experience. From effortlessly deleting multiple repositories to gaining insights into all issues across your projects, our platform empowers you to take control of your GitHub workflow. Explore our range of services below to discover how RepoMaster can simplify your repository management tasks and enhance your productivity.</p>
        <hr>
    
        <ul class="grid">
        <li>
            <i class="fa-solid fa-code-pull-request fa-4x"></i>
            <h4>Pull Requests</h4>
            <p>PRs.</p>
        </li>
        <li>
            <i class="fa-solid fa-code-commit fa-4x"></i>
            <h4>Commits</h4>
            <p>Commits.</p>
        </li>
        <li>
            <i class="fa-solid fa-code-fork fa-4x"></i>
            <h4>Fork</h4>
            <p>Forks</p>
        </li>
        <li>
            <i class="fa-brands fa-git-alt fa-4x"></i>
            <h4>git</h4>
            <p>git</p>
        </li>
        </ul>
    </section>
    
    <footer>
        <p>RepoMaster</p>
        <p>Made With ❤️ by Grant Corp</p>
        <ul>
        <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
        </ul>
    </footer>

    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
